[Appearance]
ColorScheme={{ box.name | title }}Box
Font=MesloLGS NF,10,-1,5,50,1,0,0,0,0,Italic

[General]
Command={{ distrobox.directory }}/bin/{{ distrobox.alias }} enter {{ box.name }}
Directory=
Name={{ box.name | title }}Box
Parent=FALLBACK/
StartInCurrentSessionDir=false
